.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    border: 1px solid #eaeaea;
    padding: 2rem 2rem;
}


.item h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.item p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.item button {
    font-size: 1rem;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #b1d5ff;
}