.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
}

.refresh {
    width: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}